{% extends 'base.html.twig' %}

{% block title %}Einloggen
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Sie sind eingeloggt als
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Ausloggen</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal">Bitte einloggen</h1>
					<h4>Email: thierry88@picard.fr    ---  Passwort: azerty  --- Handwerker/frei</h4>
					<h4>Email: paul.ribeiro@live.com    ---  Passwort: azerty  --- Handwerker/gesperrt</h4>

					<h4>Email: cyrisa02.test@gmail.com    ---  Passwort: admin  --- Admin</h4>
					<h4>
						<a href="{{ asset('assets/images/erklaerungunterlagen.pdf')}}" class="btn btn-secondary me-5 px-3">Erklärung</a>
					</h4>


					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Passwort</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="text-center">
						<button class="btn btn-lg btn-primary mt-4 " type="submit">
							Einloggen
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>
	<hr>
	<section>
		<div class="container mt-4 text-center">
			<span>
				<h2>Neu bei Spacer Calculator</h2>
			</span>
			<div class="text-center">
				<a href="{{ path('app_register') }}" class="btn btn-lg btn-primary mt-4 mb-4">

					Ich melde mich an
				</a>
			</div>

		</div>
	</section>


{% endblock %}
