<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home.index')}}"><img src="{{ asset('assets/images/logo.png')}}" alt="Logo" style="max-width: 7rem; "></a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrator</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('app_user_index')}}">Handwerker verwalten</a>
							</div>
						</li>
					{% endif %}
					{% if is_granted('ROLE_MEMBER') %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Handwerker</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('app_yourmeasure_index')}}">Vermessungen verwalten (Desktop)</a>
								<a class="dropdown-item" href="{{ path('app_yourmeasuremob_index')}}">Vermessungen verwalten (Mobile)</a>

								<a class="dropdown-item" href="{{ path('app_providermob_index')}}">Lieferant verwalten (Mobile)</a>


							</div>
						</li>
					{% endif %}
				{% endif %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Passwort</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Handwerker frei --- email: thierry88@picard.fr // passwort: azerty
						</a>
						<a class="dropdown-item" href="#">Handwerker gesperrt --- email: paul.ribeiro@live.com  // passwort: azerty
						</a>
						<a class="dropdown-item" href="#">Admin: cyrisa02.test@gmail.com          passwort: admin</a>

						<a class="dropdown-item" href="https://www.youtube.com/watch?v=BdYDilsv_ig&list=PLQtcbnWnIXZvngebReNEwIbutHTOzA_E2">Video auf Youtube</a>


					</div>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('app_usercraf_show',{'id':app.user.id})}}">Benutzer</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Ausloggen</a>


					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Anmelden</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Einloggen</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
