{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	{% if app.user %}
		{% if (is_granted('ROLE_ADMIN') and app.user.isVerified == true) %}
			<a class="btn btn-primary btn-lg mt-4" href="{{ path('app_user_index')}}">Handwerker verwalten</a>
		{% endif %}
		{% if (is_granted('ROLE_MEMBER') and app.user.isVerified == true)  %}
			<div class="container mt-4 text-center">
				<a class="btn btn-primary mt-4" href="{{ path('app_yourmeasuremob_index') }}">
					<?xml version="1.0" encoding="UTF-8" standalone="no"?>
					<svg width="150" height="150" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M32 468C32.0036 464.819 33.2691 461.768 35.5187 459.519C37.7684 457.269 40.8185 456.004 44 456H64V440H44C36.5739 440 29.452 442.95 24.201 448.201C18.95 453.452 16 460.574 16 468C16 475.426 18.95 482.548 24.201 487.799C29.452 493.05 36.5739 496 44 496H192V480H44C40.8185 479.996 37.7684 478.731 35.5187 476.481C33.2691 474.232 32.0036 471.181 32 468V468Z" fill="black"/>
						<path d="M346.344 10.3438L314.344 42.3438L325.657 53.6572L357.657 21.6572L346.344 10.3438Z" fill="black"/>
						<path d="M378.344 34.3437L330.344 82.3438L341.657 93.6572L389.657 45.6572L378.344 34.3437Z" fill="black"/>
						<path d="M386.344 82.3437L338.344 130.344L349.657 141.657L397.657 93.6572L386.344 82.3437Z" fill="black"/>
						<path d="M385.657 337.657C389.092 334.223 391.452 329.861 392.445 325.105C393.438 320.35 393.022 315.408 391.249 310.885C389.475 306.363 386.42 302.456 382.459 299.643C378.498 296.831 373.802 295.236 368.947 295.053C368.712 288.763 366.107 282.795 361.657 278.344C357.206 273.893 351.237 271.289 344.947 271.053C344.712 264.763 342.107 258.795 337.657 254.344C333.206 249.893 327.237 247.289 320.947 247.053C320.779 242.255 319.219 237.611 316.457 233.684C321.717 231.838 326.492 228.83 330.43 224.884L334.411 220.902L353.14 252.117L366.86 243.884L342.86 203.884C342.234 202.842 341.379 201.956 340.36 201.293C339.341 200.631 338.184 200.209 336.977 200.061C335.771 199.912 334.546 200.04 333.396 200.436C332.247 200.832 331.203 201.484 330.343 202.344L319.116 213.571C315.598 217.087 310.962 219.263 306.009 219.723C301.057 220.182 296.099 218.898 291.994 216.09L324.73 182.846C326.208 181.337 327.972 180.137 329.919 179.317C331.866 178.498 333.957 178.074 336.07 178.073C338.183 178.048 340.28 178.451 342.235 179.256C344.189 180.061 345.961 181.253 347.445 182.759L405.657 240.971C406.402 241.712 406.993 242.593 407.395 243.565C407.797 244.536 408.003 245.577 408 246.628V295.595C407.991 298.748 408.608 301.872 409.815 304.785C411.021 307.698 412.794 310.343 415.03 312.566L490.343 387.879L501.657 376.566L426.343 301.253C425.598 300.511 425.007 299.63 424.605 298.659C424.203 297.687 423.997 296.646 424 295.595V246.628C424.008 243.475 423.391 240.351 422.185 237.438C420.978 234.525 419.206 231.881 416.97 229.657L358.758 171.445C355.795 168.464 352.269 166.101 348.385 164.492C344.502 162.883 340.338 162.06 336.134 162.072C336.093 162.072 336.05 162.073 336.008 162.073C331.783 162.077 327.601 162.923 323.708 164.562C319.814 166.201 316.286 168.601 313.33 171.62L312.14 172.828L275.313 136L306.343 104.971C308.572 102.742 310.339 100.096 311.546 97.1847C312.752 94.2729 313.372 91.1521 313.372 88.0005C313.372 84.8488 312.752 81.728 311.546 78.8163C310.339 75.9045 308.572 73.2588 306.343 71.0303L256.97 21.6572C254.742 19.4287 252.096 17.6609 249.184 16.4548C246.272 15.2487 243.152 14.6279 240 14.6279C236.848 14.6279 233.727 15.2487 230.816 16.4548C227.904 17.6609 225.258 19.4287 223.03 21.6572L125.657 119.03C123.428 121.259 121.66 123.905 120.454 126.816C119.248 129.728 118.627 132.849 118.627 136C118.627 139.152 119.248 142.273 120.454 145.185C121.66 148.096 123.428 150.742 125.657 152.971L175.03 202.344C178.474 205.804 182.897 208.122 187.702 208.985L176 220.687L149.657 194.344C148.156 192.844 146.121 192.001 144 192.001C141.878 192.001 139.843 192.844 138.343 194.344L131.314 201.373C127.348 205.345 124.496 210.29 123.044 215.712C121.592 221.134 121.592 226.843 123.043 232.265C117.969 233.02 113.274 235.393 109.657 239.03L73.3724 275.314C70.3916 278.279 68.0284 281.805 66.4196 285.689C64.8108 289.573 63.9884 293.737 63.9998 297.941V310.06C63.9884 314.264 64.8108 318.428 66.4196 322.312C68.0284 326.196 70.3916 329.722 73.3724 332.687L76.6864 336.001L68.6864 344.001H47.9998C46.4342 344.001 44.903 344.46 43.5959 345.322C42.2889 346.184 41.2635 347.41 40.6468 348.849L16.6468 404.849C16.017 406.319 15.842 407.943 16.1444 409.513C16.4467 411.083 17.2126 412.527 18.3431 413.657L34.3431 429.657C35.4736 430.788 36.917 431.554 38.487 431.856C40.0571 432.159 41.6817 431.984 43.1512 431.354L99.1512 407.354C100.59 406.737 101.817 405.711 102.679 404.404C103.54 403.097 104 401.566 104 400V379.314L112 371.314L112.971 372.285C116.676 376.011 121.084 378.965 125.939 380.976C130.794 382.987 136 384.015 141.255 384H156.686L274.343 501.657L285.657 490.344L165.657 370.344C164.914 369.601 164.032 369.011 163.061 368.609C162.091 368.207 161.05 368 160 368H141.255C138.102 368.009 134.978 367.392 132.065 366.186C129.152 364.979 126.507 363.207 124.284 360.971L84.6858 321.373C83.1955 319.891 82.014 318.128 81.2096 316.186C80.4053 314.244 79.9941 312.162 79.9998 310.06V297.941C79.9941 295.839 80.4053 293.757 81.2096 291.815C82.014 289.873 83.1955 288.11 84.6858 286.628L120.97 250.344C121.711 249.599 122.593 249.008 123.564 248.605C124.535 248.203 125.576 247.998 126.627 248H132.686L170.343 285.657L181.657 274.344L142.627 235.314C139.627 232.314 137.941 228.244 137.941 224C137.941 219.757 139.627 215.687 142.627 212.687L144 211.314L213.657 280.971C214.402 281.712 214.993 282.594 215.395 283.565C215.797 284.536 216.003 285.577 216 286.628V336C216 337.051 216.207 338.091 216.609 339.062C217.011 340.033 217.6 340.914 218.343 341.657L378.343 501.657L389.657 490.344L232 332.687V286.628C232.013 281.405 230.309 276.323 227.151 272.163L246.343 252.971C250.837 248.466 253.361 242.363 253.361 236C253.361 229.638 250.837 223.535 246.343 219.03L228.97 201.657C225.518 198.202 221.089 195.89 216.28 195.034L232 179.314L274.343 221.657L274.408 221.593C274.539 221.746 274.671 221.899 274.816 222.044L277.656 224.884C278.749 225.972 279.908 226.992 281.127 227.937C280.142 228.671 279.211 229.475 278.343 230.344L246.343 262.344C242.907 265.778 240.548 270.14 239.555 274.896C238.561 279.651 238.977 284.593 240.751 289.116C242.525 293.638 245.579 297.545 249.541 300.357C253.502 303.17 258.198 304.765 263.052 304.948C263.288 311.238 265.892 317.206 270.343 321.657C274.794 326.108 280.762 328.712 287.052 328.948C287.203 332.848 288.265 336.659 290.154 340.074C292.042 343.49 294.705 346.416 297.928 348.617C301.15 350.818 304.844 352.234 308.713 352.751C312.581 353.268 316.517 352.871 320.205 351.593C321.3 355.018 323.122 358.166 325.545 360.823C327.968 363.479 330.937 365.582 334.247 366.986C337.557 368.391 341.131 369.064 344.725 368.961C348.32 368.858 351.849 367.98 355.074 366.388L490.343 501.657L501.657 490.344L367.313 356L385.657 337.657ZM87.9998 347.314L100.686 360L90.3431 370.344C89.6001 371.087 89.0108 371.968 88.6088 372.939C88.2067 373.91 87.9998 374.95 87.9998 376V394.725L41.827 414.514L33.4866 406.173L53.2752 360H71.9998C73.0504 360.001 74.0907 359.794 75.0613 359.392C76.0319 358.989 76.9138 358.4 77.6566 357.657L87.9998 347.314ZM234.343 32.9707C235.845 31.4727 237.879 30.6314 240 30.6314C242.121 30.6314 244.155 31.4727 245.657 32.9707L295.03 82.3438C296.528 83.8452 297.369 85.8795 297.369 88.0005C297.369 90.1214 296.528 92.1558 295.03 93.6572L280 108.687L219.313 48.0005L234.343 32.9707ZM186.343 191.03L136.97 141.657C135.472 140.156 134.631 138.121 134.631 136.001C134.631 133.88 135.472 131.845 136.97 130.344L152 115.314L212.686 176L197.657 191.03C196.155 192.528 194.121 193.37 192 193.37C189.879 193.37 187.845 192.528 186.343 191.03V191.03ZM217.657 212.971L235.03 230.344C236.53 231.844 237.372 233.879 237.372 236C237.372 238.122 236.53 240.157 235.03 241.657L216 260.687L187.313 232L206.343 212.971C207.843 211.471 209.878 210.628 212 210.628C214.121 210.628 216.156 211.471 217.657 212.971V212.971ZM224 164.687L163.313 104L208 59.314L268.686 120L224 164.687ZM280.387 205.074L243.313 168L264 147.314L300.914 184.228L280.387 205.074ZM264 288.971C262.226 288.971 260.491 288.445 259.016 287.459C257.541 286.474 256.391 285.073 255.712 283.433C255.033 281.794 254.855 279.99 255.201 278.25C255.548 276.51 256.402 274.912 257.657 273.657L289.657 241.657C291.339 239.975 293.621 239.03 296 239.03C298.379 239.03 300.661 239.975 302.343 241.657C304.025 243.34 304.971 245.621 304.971 248C304.971 250.38 304.025 252.661 302.343 254.344L270.343 286.344C269.512 287.179 268.523 287.842 267.435 288.293C266.346 288.744 265.178 288.974 264 288.971V288.971ZM288 312.971C286.226 312.971 284.491 312.445 283.016 311.459C281.541 310.474 280.391 309.073 279.712 307.433C279.033 305.794 278.855 303.99 279.201 302.25C279.548 300.51 280.402 298.912 281.657 297.657L313.657 265.657C314.49 264.824 315.478 264.163 316.567 263.713C317.655 263.262 318.822 263.03 320 263.03C321.178 263.03 322.344 263.262 323.433 263.713C324.521 264.163 325.51 264.824 326.343 265.657C327.176 266.49 327.837 267.479 328.288 268.568C328.739 269.656 328.971 270.822 328.971 272C328.971 273.179 328.739 274.345 328.288 275.433C327.837 276.522 327.176 277.511 326.343 278.344L294.343 310.344C293.512 311.179 292.523 311.842 291.435 312.293C290.346 312.744 289.178 312.974 288 312.971V312.971ZM318.343 334.344C317.51 335.177 316.521 335.838 315.433 336.288C314.344 336.739 313.178 336.971 312 336.971C310.822 336.971 309.655 336.739 308.567 336.288C307.478 335.838 306.49 335.177 305.657 334.344C304.824 333.511 304.163 332.522 303.712 331.433C303.261 330.345 303.029 329.179 303.029 328C303.029 326.822 303.261 325.656 303.712 324.568C304.163 323.479 304.824 322.49 305.657 321.657L337.657 289.657C339.339 287.975 341.621 287.03 344 287.03C346.379 287.03 348.661 287.975 350.343 289.657C352.025 291.34 352.971 293.621 352.971 296C352.971 298.38 352.025 300.661 350.343 302.344L326.343 326.344L318.343 334.344ZM350.343 350.344C348.661 352.026 346.379 352.971 344 352.971C341.621 352.971 339.339 352.026 337.657 350.344C335.974 348.661 335.029 346.38 335.029 344C335.029 341.621 335.974 339.34 337.657 337.657L361.657 313.657C363.339 311.975 365.621 311.03 368 311.03C370.379 311.03 372.661 311.975 374.343 313.657C376.025 315.34 376.971 317.621 376.971 320C376.971 322.38 376.025 324.661 374.343 326.344L350.343 350.344Z" fill="black"/>
						<path d="M78.8606 115.884L65.1406 124.116L89.1408 164.116L102.861 155.884L78.8606 115.884Z" fill="black"/>
						<path d="M25.5685 160.155L22.4307 175.845L62.4307 183.845L65.5685 168.155L25.5685 160.155Z" fill="black"/>
						<path d="M75.8846 201.139L35.8848 225.14L44.1168 238.86L84.1167 214.859L75.8846 201.139Z" fill="black"/>
						<path d="M130.53 400.411L125.471 415.59L149.471 423.59L154.53 408.411L130.53 400.411Z" fill="black"/>
						<path d="M101.656 442.344L90.3428 453.657L106.343 469.657L117.656 458.344L101.656 442.344Z" fill="black"/>
						<path d="M141.656 434.344L130.343 445.657L146.343 461.657L157.656 450.344L141.656 434.344Z" fill="black"/>
						<path d="M456 240H472C471.988 229.395 467.77 219.228 460.271 211.729C452.772 204.23 442.605 200.012 432 200V216C438.363 216.007 444.463 218.538 448.963 223.037C453.462 227.537 455.993 233.637 456 240V240Z" fill="black"/>
						<path d="M480 208H496C495.99 199.516 492.616 191.382 486.617 185.383C480.618 179.384 472.484 176.01 464 176V192C468.242 192.005 472.309 193.692 475.308 196.692C478.308 199.691 479.995 203.758 480 208Z" fill="black"/>
					</svg>Baustelle</a>

				<a class="btn btn-primary mt-4" href="{{ path('app_providermob_index') }}">

					<svg width="150" height="150" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">

						<style type="text/css">
							.st0 {
								fill: none;
								stroke: #000000;
								stroke-width: 2;
								stroke-linecap: round;
								stroke-linejoin: round;
								stroke-miterlimit: 10;
							}

							.st1 {
								fill: none;
								stroke: #000000;
								stroke-width: 2;
								stroke-linecap: round;
								stroke-linejoin: round;
								stroke-miterlimit: 10;
								stroke-dasharray: 3;
							}
							.st2 {
								fill: none;
								stroke: #000000;
								stroke-width: 2;
								stroke-linejoin: round;
								stroke-miterlimit: 10;
							}
							.st3 {
								fill: none;
							}
						</style>
						<polyline class="st0" points="2,9 19,9 19,24 10,24 "/>
						<circle class="st0" cx="24" cy="24" r="2"/>
						<circle class="st0" cx="8" cy="24" r="2"/>
						<polyline class="st0" points="19,24 19,13 25,13 29,18 29,24 26,24 "/>
						<line class="st0" x1="4" y1="13" x2="13" y2="13"/>
						<line class="st0" x1="2" y1="17" x2="11" y2="17"/>
						<rect x="-288" y="-432" class="st3" width="536" height="680"/>
					</svg>Lieferant</a>


			</div>
			<div class="container mt-4 text-center mb-4">
				<a class="btn btn-primary mt-4 " href="{{ path('app_measure_new') }}">
					<svg width="150" height="150" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 64 64">

						<g id="Layer_32" data-name="Layer 32"><path d="M32.49,19.3C25.05,22,24.74,32.88,32,36c7.2,3.34,15.06-4.09,12.14-11.47A9,9,0,0,0,32.49,19.3Zm5.74,15c-8.8,3.05-13.62-9.58-5-13.16C42,18.15,46.84,30.67,38.23,34.33Z"/><path d="M35.72,57.23h-19a1,1,0,0,0,0,2h19A1,1,0,0,0,35.72,57.23Z"/><path d="M9.46,57.23H4a1,1,0,0,0,0,2H9.46A1,1,0,0,0,9.46,57.23Z"/><path d="M48.73,8.58a4.42,4.42,0,0,0-.24-1.11h0c-1.9-4.74-9-2.7-8.05,2.31-14.59-4-27.84,11-21.92,25.08l-2.11.81A1,1,0,0,0,15.83,37l2.6,6.81a1,1,0,0,0,1.29.57l2.11-.8.91,2.38L10.56,50.57A1,1,0,0,0,10,51.86l1.51,4,1.06,2.76a1,1,0,0,0,1.86-.71l-.69-1.83L42.35,45.13C56.1,40,58.51,21,46.56,12.65a4,4,0,0,0,1.87-2.07c6.09,2.1,10.57,9,10.57,17.17a1,1,0,0,0,2,0C61,18.55,55.78,10.82,48.73,8.58ZM21.12,41.67l-1.18.45-1.88-4.94,1.18-.45C19.31,36.93,21,41.31,21.12,41.67ZM13,54.18l-.8-2.1,11.24-4.29.81,2.1ZM51.23,21.83a16.63,16.63,0,0,1-9.6,21.43L26.12,49.18c-.87-2.3-4.57-12-5.37-14.1C14.21,21,28.26,6.43,42.39,12.56a4.07,4.07,0,0,0,.66.33A16.57,16.57,0,0,1,51.23,21.83ZM45.34,11a2.21,2.21,0,0,1-1.5,0c-.19-.09-.37-.2-.57-.28-2.86-2.37,1.5-6,3.28-2.7-1-.06-2.89-.66-3,.84.09,1.46,1.93.86,2.89,1.17A2.13,2.13,0,0,1,45.34,11Z"/></g>
					</svg>Vermessung erstellen</a>

			</div>
			<div class="container mt-4 text-center mb-4">
				<a class="btn btn-primary mt-4" href="{{ path('app_usercraf_show',{'id':app.user.id})}}">

					<?xml version="1.0" encoding="utf-8"?>
					<svg width="130" height="130" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 122.88 113.76" style="enable-background:new 0 0 122.88 113.76" xml:space="preserve">

						<style type="text/css">
							.st0 {
								fill-rule: evenodd;
								clip-rule: evenodd;
							}
						</style>
						<g><path class="st0" d="M85.08,48.98v-8.27c0.38-1.6,1.07-2.07,1.86-2.22C89.08,38.16,88.84,48.49,85.08,48.98L85.08,48.98z M44.8,74.76l9.21,27.07l4.63-16.07l-2.27-2.48c-1.02-1.49-1.25-2.8-0.68-3.92c1.23-2.43,3.77-1.98,6.15-1.98 c2.49,0,5.56-0.47,6.34,2.64c0.26,1.04-0.07,2.13-0.8,3.26l-2.27,2.48l4.63,16.07l8.33-27.07c6.01,5.41,27.18,6.5,33.8,10.19 c2.09,1.17,3.99,2.66,5.51,4.66c2.31,3.05,3.72,7.03,4.11,12.09l1.38,6.12c-0.34,3.58-2.37,5.64-6.36,5.94H6.36 c-3.99-0.3-6.02-2.37-6.36-5.94l1.38-6.12c0.39-5.05,1.8-9.04,4.11-12.09c1.52-2.01,3.41-3.5,5.51-4.66 C17.63,81.26,38.79,80.17,44.8,74.76L44.8,74.76L44.8,74.76z M32.9,20.87v-5.29c0.76-6.33,3.71-8.87,8.55-8.14 c4.6-4.81,11.1-7.5,20.05-7.43c9.96-0.2,18.46,2.13,24.63,8.45c3.24,3.23,4.63,8.24,3.79,15.35c0.17,6.98,0.94,10.01-1.32,11.24 c-0.01,0.19-0.02,0.38-0.03,0.58l-1.56,0.98c1.26-0.09,2.14,0.69,2.67,2.02c0.26,0.67,0.43,1.48,0.5,2.37 c0.06,0.83,0.05,1.75-0.06,2.68c-0.37,3.39-1.93,6.92-4.81,7.34c-0.13,0.02-0.25,0.02-0.37,0.01v0.43c0,0.02,0,0.04,0,0.06 c0.19,4.73-2.31,9.98-6.34,14.19c-7.34,7.66-19.39,11.47-29.86,2.8c-1.82-1.51-3.94-3-5.6-5.34c0.02-0.02,0.04-0.04,0.05-0.05 l-0.04-0.03c-2.7-2.51-3.97-3.7-5.05-8.85c-0.02-0.1-0.03-0.21-0.03-0.31h0v-2.9c-0.15,0.03-0.31,0.03-0.47,0 c-2.89-0.42-4.44-3.96-4.81-7.34c-0.1-0.93-0.12-1.85-0.06-2.68c0.07-0.89,0.24-1.71,0.5-2.37c0.57-1.45,1.57-2.25,3-1.98 c0.69,0.13,1.32,0.48,1.84,1.08v-1.18l-1.17-0.66c-0.14-0.95-0.16-1.92-0.1-2.9C34.69,29.48,33.05,23.6,32.9,20.87L32.9,20.87z M82.64,35.12c-1.38-3.86-4.02-6.76-7.34-8.79c-2.79-1.21-5.23-2.23-7.55-2.96c-5.62-1.25-11.8-0.89-16.91,0.82 c-1.36,0.53-2.8,1.18-4.35,1.95c-3.26,1.91-5.59,4.55-6.28,7.81v19.98c1.16,5.57,1.9,5.35,5.47,8.84l6.19,6.06 c1.12,0.92,2.38,1.46,3.72,1.78c4.58,1.08,14.21,0.65,17.82-3.15c5.38-5.23,9.59-7.63,9.21-15.99V35.12L82.64,35.12z M66.36,36.05 c-1.63,0.62-1.98,1.98-1.07,2.49c1.07,0.6,2.43-0.3,3.47-0.63c2.73-0.87,5.98-0.97,8.34,0.51c0.63,0.39,1.27,0.9,1.92,1.52 c-0.24-0.86-0.62-1.65-1.17-2.35C75.5,34.59,69.53,34.42,66.36,36.05L66.36,36.05z M56.05,36.05c1.63,0.62,1.98,1.98,1.07,2.49 c-1.07,0.6-2.43-0.3-3.47-0.63c-2.73-0.87-5.98-0.97-8.34,0.51c-0.63,0.39-1.27,0.9-1.92,1.52c0.24-0.86,0.62-1.65,1.17-2.35 C46.92,34.59,52.88,34.42,56.05,36.05L56.05,36.05z M47.54,41.9c-0.35,0.14-0.73-0.08-0.86-0.47c-0.12-0.4,0.07-0.84,0.42-0.97 c2.7-1.05,5.45-0.98,8.16,0c0.35,0.13,0.55,0.56,0.44,0.96c-0.11,0.4-0.49,0.62-0.84,0.5c-0.45-0.16-0.9-0.3-1.35-0.4 c0.05,0.16,0.07,0.33,0.07,0.51c0,1.04-0.84,1.89-1.89,1.89c-1.04,0-1.89-0.85-1.89-1.89c0-0.26,0.05-0.5,0.14-0.72 C49.14,41.39,48.34,41.59,47.54,41.9L47.54,41.9L47.54,41.9z M69.43,41.34c-0.08,0.21-0.12,0.43-0.12,0.67 c0,1.04,0.85,1.89,1.89,1.89c1.04,0,1.89-0.85,1.89-1.89c0-0.3-0.07-0.58-0.19-0.83c0.82,0.09,1.66,0.27,2.49,0.54 c0.36,0.12,0.73-0.12,0.83-0.53c0.1-0.41-0.11-0.83-0.46-0.95c-1.36-0.45-2.72-0.67-4.08-0.66c-1.35,0-2.7,0.23-4.03,0.67 c-0.36,0.12-0.56,0.54-0.46,0.94c0.1,0.4,0.48,0.64,0.83,0.52C68.49,41.56,68.96,41.43,69.43,41.34L69.43,41.34L69.43,41.34z M59.1,54.21c-0.37-0.31-0.42-0.86-0.11-1.23c0.31-0.37,0.86-0.42,1.23-0.11c0.44,0.37,0.86,0.56,1.26,0.56 c0.4,0.01,0.84-0.18,1.31-0.57c0.37-0.31,0.92-0.25,1.23,0.12c0.31,0.37,0.25,0.92-0.12,1.23c-0.8,0.66-1.62,0.98-2.44,0.96 C60.63,55.16,59.85,54.83,59.1,54.21L59.1,54.21L59.1,54.21z M56.36,59.88c-0.45-0.24-0.62-0.8-0.38-1.24 c0.24-0.45,0.8-0.62,1.24-0.38c1.42,0.75,2.81,1.13,4.18,1.14c1.37,0,2.74-0.37,4.12-1.13c0.45-0.24,1-0.08,1.25,0.36 c0.24,0.44,0.08,1-0.36,1.25c-1.65,0.91-3.31,1.36-5,1.35C59.71,61.22,58.03,60.77,56.36,59.88L56.36,59.88L56.36,59.88z M37.8,48.98v-8.27c-0.38-1.6-1.07-2.07-1.86-2.22C33.81,38.16,34.01,48.48,37.8,48.98L37.8,48.98z"/></g>
					</svg>Benutzer</a>


				<a class="btn btn-primary mt-4" href="{{ path('app_logout') }}">
					<?xml version="1.0" encoding="UTF-8" standalone="no"?>
					<svg width="130" height="130" viewbox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">

						<path d="M40.36 9.79997C40.1077 9.70703 39.8391 9.66595 39.5705 9.67918C39.3019 9.69241 39.0387 9.75968 38.7967 9.87696C38.5547 9.99425 38.3388 10.1591 38.162 10.3618C37.9851 10.5644 37.851 10.8006 37.7676 11.0563C37.6841 11.312 37.6531 11.5819 37.6764 11.8498C37.6997 12.1177 37.7767 12.3782 37.903 12.6157C38.0293 12.8532 38.2021 13.0627 38.4112 13.2318C38.6203 13.401 38.8614 13.5262 39.12 13.6C44.2626 15.2929 48.6336 18.7628 51.4491 23.3872C54.2645 28.0116 55.3401 33.4879 54.4828 38.8336C53.6255 44.1794 50.8915 49.0447 46.7712 52.5569C42.651 56.069 37.4141 57.9982 32 57.9982C26.586 57.9982 21.3491 56.069 17.2289 52.5569C13.1086 49.0447 10.3746 44.1794 9.51731 38.8336C8.66003 33.4879 9.73557 28.0116 12.551 23.3872C15.3664 18.7628 19.7375 15.2929 24.88 13.6C25.1387 13.5262 25.3797 13.401 25.5888 13.2318C25.798 13.0627 25.9708 12.8532 26.0971 12.6157C26.2233 12.3782 26.3004 12.1177 26.3237 11.8498C26.347 11.5819 26.3159 11.312 26.2325 11.0563C26.1491 10.8006 26.0149 10.5644 25.8381 10.3618C25.6613 10.1591 25.4454 9.99425 25.2034 9.87696C24.9614 9.75968 24.6982 9.69241 24.4296 9.67918C24.1609 9.66595 23.8924 9.70703 23.64 9.79997C17.5923 11.788 12.4511 15.8663 9.13882 21.3028C5.82657 26.7394 4.56017 33.1784 5.56687 39.4644C6.57357 45.7504 9.78747 51.4719 14.6318 55.6021C19.4762 59.7324 25.6339 62.0011 32 62.0011C38.3661 62.0011 44.5239 59.7324 49.3682 55.6021C54.2126 51.4719 57.4265 45.7504 58.4332 39.4644C59.4399 33.1784 58.1735 26.7394 54.8613 21.3028C51.549 15.8663 46.4077 11.788 40.36 9.79997V9.79997Z" fill="black"/>
						<path d="M32 25.06C32.5304 25.06 33.0391 24.8493 33.4142 24.4742C33.7893 24.0991 34 23.5904 34 23.06V4C34 3.46957 33.7893 2.96086 33.4142 2.58579C33.0391 2.21071 32.5304 2 32 2C31.4696 2 30.9609 2.21071 30.5858 2.58579C30.2107 2.96086 30 3.46957 30 4V23.06C30 23.5904 30.2107 24.0991 30.5858 24.4742C30.9609 24.8493 31.4696 25.06 32 25.06Z" fill="black"/>
					</svg>Ausloggen</a>


			</div>
		{% else %}
			<div class="mt-4 container">
				<p>Bitte warten Sie auf Ihre Bestätigung.
				</p>

			</div>
		{% endif %}
	{% endif %}

	{% if app.user == false %}

		<div class="jumbotron mt-4">
			<h1 class="display-4">Willkommen zu
				<strong>Spacer Calculator</strong>
				!</h1>
			<p class="lead">Spacer Calculator ist das ideale Werkzeug für
				<strong>Handwerker</strong>
				: gespeicherte Vermessung von Räumen abrufen- Baustellen verwalten - Kunden und Lieferanten verwalten. Automatischer Versand Ihrer Preisangebote per E-Mail. Alles auf Ihrem Handy!</p>

			<hr class="my-4">
				<p>Ziel ist die Entwicklung einer mobilen Augmented Reality Lösung für die Vermessung von Räumen. Hierbei sollen sowohl Längen und Breiten ermittelt, als auch die Fläche eines Raumes vermessen werden können. Der Kundennutzen besteht darin, dass er dann beispielsweise die passende Menge an Laminat einkaufen kann.</p>
				<div class="text-center mt-4">
					<a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Einloggen</a>
				</div>
			</div>
			<hr class="my-4">

				<div class="jumbotron mt-4">
					<h1 class="display-4">Vermessung von Räumen</h1>

					<div class="container mt-4">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
								<img src="{{ asset('assets/images/2menu.png')}}" alt="menu" style="max-width: 20rem;"></div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
									<img src="{{ asset('assets/images/3Baustelle.png')}}" alt="baustelle" style="max-width: 20rem;"></div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
										<img src="{{ asset('assets/images/4vermessung.png')}}" alt="vermessung" style="max-width: 20rem;"></div>
									</div>
								</div>


								<p class="lead">
									Sie können ein Foto der Baustelle speichern, die Vermessung von Räumen nehmen und der Rechner gibt Ihnen die Bestellmenge. Das ist so einfach!</p>


								<hr class="my-4">
									<p>Sie speichern auch: Kundendaten / Laminatbenennung / Lieferantdaten.</p>
								</div>
								<hr class="my-4">
									<div class="jumbotron mt-4">
										<h1 class="display-4">Preisangebot per Email zu Lieferant senden.</h1>

										<div class="container mt-4">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
													<img src="{{ asset('assets/images/3Lieferant.png')}}" alt="lieferant" style="max-width: 20rem;"></div>
													<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
														<img src="{{ asset('assets/images/5email.png')}}" alt="email" style="max-width: 20rem;"></div>
														<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3">
															<img src="{{ asset('assets/images/5emailsenden.png')}}" alt="email" style="max-width: 20rem;"></div>
														</div>
													</div>


													<p class="lead">
														Sie verwalten die Lieferantdaten. Sie senden ihre Preisanfrage ganz einfach automatisch per E-Mail an Ihren Lieferanten.

													</p>
													<hr class="my-4">
														<p>Sie speichern auch Liefertermin der Baustelle.
														</p>
													</div>
													<hr class="my-4">


														<div class="jumbotron mt-4">
															<h1 class="display-4">Empfehlung</h1>
															<p class="lead">Spacer Calculator ist das ideale Werkzeug für Handwerker.</p>
															<hr class="my-4"></div>
															<div class="testi-item bg-white shadow-sm rounded p-4 mb-5">
																<div class="testi-author-info d-flex align-items-center">
																	<img src="{{ asset('assets/images/man.jpg')}}" class="img-thumbnail rounded-circle" alt="auteur" style="max-width: 7rem;">
																		<div class="author ms-3">
																			<h3 class="fs-6 mb-1">Nikolaus Müller</h3>
																			<p class="text-muted m-0">Handwerker - Laminat-Pro GmbH</p>
																		</div>
																	</div>
																	<p class="text-muted mt-3">Nikolaus nutzt die App seit zwei Jahren.</p>
																	<p class=" mt-3">Die App hat mir das Leben erleichtert, meine Kunden sind begeistert😉👍 Tschüss</p>
																	<div class="rating text-secondary">
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																		<i class="fas fa-star"></i>
																	</div>
																</div>
																<hr class="my-4">
																	<div class="testi-item bg-white shadow-sm rounded p-4 mb-5">
																		<div class="testi-author-info d-flex align-items-center">
																			<img src="{{ asset('assets/images/man.jpg')}}" class="img-thumbnail rounded-circle" alt="auteur" style="max-width: 7rem;">
																				<div class="author ms-3">
																					<h3 class="fs-6 mb-1">Rainer Weber</h3>
																					<p class="text-muted m-0">Handwerker - Laminat-Rex GmbH</p>
																				</div>
																			</div>
																			<p class="text-muted mt-3">Rainer ist immer unterwegs und nutzt die App mit seinem Handy.</p>
																			<p class=" mt-3">Die App ist sehr praktisch, ich habe sie überall dabei👍 Danke schön Spacer Calculator</p>
																			<div class="rating text-secondary">
																				<i class="fas fa-star"></i>
																				<i class="fas fa-star"></i>
																				<i class="fas fa-star"></i>
																				<i class="fas fa-star"></i>
																				<i class="fas fa-star"></i>
																			</div>
																		</div>
																		<hr class="my-4">
																		{% endif %}
																	{% endblock %}
