{% extends 'base.html.twig' %}

{% block title %}Vermessung
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Vermessung</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Bezeichnung</th>
					<td>{{ measure.title }}</td>
				</tr>
				<tr>
					<th>Beschreibung</th>
					<td>{{ measure.description }}</td>
				</tr>
				<tr>
					<th>Bild</th>
					<td>
						{% if measure.picture is defined %}
							<img src="{{ asset('uploads/') }}{{ measure.picture }}" alt="{{ measure.title }}" style="max-width: 7rem; height: auto; border-radius: 50%;">
						{% else %}
							<p>Kein Bild</p>
						{% endif %}
					</td>

				</tr>
				<tr>
					<th>Kundenname</th>
					<td>{{ measure.civility }}
						{{ measure.lastname }}</td>
				</tr>
				<tr>
					<th>E-mail</th>
					<td>{{ measure.email }}</td>
				</tr>
				<tr>
					<th>Anschrift</th>
					<td>{{ measure.address }},
						{{ measure.zipcode }},
						<strong>{{ measure.place }}</strong>
					</td>


				</tr>
				<tr>
					<th>Telefon</th>
					<td>{{ measure.phone }}</td>
				</tr>
				<tr>
					<th>Breite (m)</th>
					<td>{{ measure.width /100}}
						m</td>
				</tr>
				<tr>
					<th>Länge (m)</th>
					<td>{{ measure.length /100}}
						m</td>
				</tr>
				<tr>
					<th>Erstellung</th>
					<td>{{ measure.createdAt ? measure.createdAt|date('d-m-Y') : '' }}</td>
				</tr>
				<tr>
					<th>Lieferant</th>
					<td>{{ measure.providers }}</td>
				</tr>
				<tr>
					<th>Laminat</th>
					<td>{{ measure.floorname }}</td>
				</tr>
				<tr>
					<th>ArtikelNr</th>
					<td>{{ measure.floornr }}</td>
				</tr>
				<tr>
					<th>Menge (m²)</th>

					<td>{{ (measure.width * measure.length *1.2 /10000) | round }}
						m²</td>

				</tr>

			</tbody>
		</table>

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_yourmeasuremob_index') }}">Zurück</a>


		<a class="btn btn-primary btn-lg mt-4 ms-4" href="{{ path('app_measure_edit', {'id': measure.id}) }}">Ändern</a>


		{{ include('pages/measure/_delete_form.html.twig') }}</div>

{% endblock %}
